<!DOCTYPE html>
<html ng-app="taskManager" lang="ru">
<head>
<meta charset="utf-8" />
<title>Планировщик задач</title>
<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap-theme.css" />
<script src="/lib/jquery/dist/jquery.js"></script>
<script src="/lib/angular/angular.js"></script>
<script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="/task-manager.js"></script>
<script src="/task-list.js"></script>
<script src="/task-form.js"></script>
</head>

<body ng-controller="TabController as tabs">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" ng-class="{'active': tabs.activeTask == null}">
      <a aria-controls="allTasks" role="tab" ng-click="tabs.activate(null)" >Все задачи</a>
    </li>
    <li role="presentation" ng-repeat="tab in tabs.tabs" ng-class="{'active': tabs.activeTask == tab.id}">
      <a aria-controls="task{{tab.id}}" role="tab" class="text-nowrap" ng-click="tabs.activate(tab)">{{tab.name}}
        <button type="button" class="close" aria-label="Close" ng-click="tabs.close(tab)">
          <span aria-hidden="true">&times;</span>
        </button>
      </a></li>
    <li role="presentation"><a role="button" href="#" ng-click="tabs.add()" aria-label="Add"><i class="glyphicon glyphicon-plus text-success" aria-hidden="true"></i></a></li>
  </ul>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane" id="allTasks" ng-class="{'active': tabs.activeTask === null}">
      <task-list tasks="tabs.tasks" edit="tabs.add"></task-list>
    </div>
    <div ng-repeat="tab in tabs.tabs" role="tabpanel" class="tab-pane" ng-class="{'active': tabs.activeTask == tab.id}">
      <task-form task="tab"></task-form>
    </div>
  </div>
</body>
</html>
