body {
    width: 1200px;
    margin: 0 auto;
}
textarea {
    margin: auto;
    display: block;
}
.description-task {
    width: 400px;
}
.checkbox-inline {
    display: flex;
}
li {
    list-style: none;
    border: 1px solid #000000;
    width: 500px;
    text-align: center;
}
.icon-in-form {
    display: block !important;
    padding-bottom: 10px;
    font-size: x-large;
}
div[data-toggle="collapse"] {
  cursor: pointer;
  background-color: #dee8da;
  font-weight: 600;
  text-align: center;
  position: relative;
  top: -5px;
}

div[data-toggle="collapse"]:hover {
  background-color: #cdd6c9;
}

div[data-toggle="collapse"]:active {
  top: -4px;
}